<html>
<head>
  <title>Hello Riot.</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/blazecss/latest/blaze.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/blazecss/2.3.0/animations.calendars.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>
</head>
<body>
  <h1>Riot-Gear Test1:date</h1>
  <!-- place the custom tag anywhere inside the body -->
  <rg-date></rg-date>
  <!-- include the tag -->
  <!-- include riot.js -->
  <script src="https://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <script src="https://cdn.jsdelivr.net/riotgear/latest/rg.min.js"></script>
  <!-- mount the tag -->
  <script>
  riot.mount('rg-date',{
    date: moment(),
    min: '14-01-2015',
    max: '20-05-2016'
  })
  </script>
</body>
</html>
