<html>
<head>
</head>
<body>
<h1>servey monkey</h1>
<script>(function(e,t,c,n){var s,o,r;e.SMCX=e.SMCX||[],t.getElementById(n)||(s=t.getElementsByTagName(c),o=s[s.length-1],r=t.createElement(c),r.type="text/javascript",r.async=!0,r.id=n,r.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/9DwaUcuyzLB1iU4pNx2T6j9HClfcu8hpxrk1FDMrgMvWkxljsyTE_2B6XnWPkAerxg.js"].join(""),o.parentNode.insertBefore(r,o))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://jp.surveymonkey.com/mp/customer-satisfaction-surveys/> オリジナルのフィードバックアンケートを作りましょう </a>
</body>
</html>
