<html>
<head>
  <title>ctd-div-bn-box</title>
  <link href="../../css/libs/bootstrap.min.css" rel="stylesheet" type="text/css">
  <style>
  </style>
</head>
<body>
  <!-- place the custom tag anywhere inside the body -->
  <ctd-div-bn-box></ctd-div-bn-box>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/ctd/tags/ctd-div-bn-box.tag"></script>
  <!-- include riot.js -->
  <script src="https://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <!-- mount the tag -->
  <script>
    riot.mount('ctd-div-bn-box');
  </script>
</body>
</html>
