<html>
<head>
  <title>ctd-section-featured-work</title>
  <link href="../../css/libs/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- place the custom tag anywhere inside the body -->
  <ctd-section-featured-work></ctd-section-featured-work>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/ctd/tags/ctd-section-featured-work.tag"></script>
  <!-- include riot.js -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="../../js/Vague.js"></script>
  <script src="https://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <!-- mount the tag -->
  <script>riot.mount('ctd-section-featured-work')</script>
</body>
</html>
