<html>
<head>
  <title>ctd-div-center-block</title>
  <link href="../../css/libs/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- place the custom tag anywhere inside the body -->
  <ctd-div-center-block image="/img/lets-bg.jpg" title="Let's get together"></ctd-div-center-block>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/ctd/tags/ctd-div-center-block.tag"></script>
  <!-- include riot.js -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="../../js/libs/jquery.imageScroll.min.js"></script>
  <script src="https://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <!-- mount the tag -->
  <script>riot.mount('ctd-div-center-block')</script>
</body>
</html>
