<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Craft Homepage x Riot.js</title>
  <link href="//fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <style>
  ctd-section-video {
    width: 100%;
    height: 640px;
  }
  </style>
</head>
<body id="top">
  <div class="blur-area">
    <header id="home">

      <ctd-nav>
        <a href="index.html">ホーム</a>
        <a href="company/index.html">会社概要</a>
        <a href="solution/index.html">ソリューション</a>
        <a href="recruit/index.html">採用情報</a>
        <a href="news/index.html">ニュース</a>
        <a href="https://www.netyear.net/craft/forms/inquiry/" target="_blank">お問い合わせ</a>
      </ctd-nav>
      <ctd-section-video></ctd-section-video>

    </header>
  </div><!-- /.blur-area -->

  <!-- place the custom tag anywhere inside the body -->
  <hello-world></hello-world>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/tags/hello_world.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-nav.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-section-video.tag"></script>

  <!-- include riot.js -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <script src="http://coffeescript.org/extras/coffee-script.js"></script>
  <!-- mount the tag -->
  <script>
    riot.mount('hello-world');
    riot.mount('ctd-nav');
    riot.mount('ctd-section-video');
  </script>
</body>
</html>
