<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Craft Homepage x Riot.js</title>
  <link href="//fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/libs/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/libs/flexslider.css" rel="stylesheet" type="text/css">
  <style>
  body {
      margin: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: #fff;
      color: #121212;
      font-weight: normal;
      line-height: 1.5;
      min-width: 320px;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  }
  ctd-section-intro {
    background-color: #fff;
    padding: 100px 0 40px 0;
    display: block;
  }
  ctd-div-features {
    background-color: #fff;
    padding: 0 0 100px 0;
    display: block;
  }
  ctd-div-portfolio {
    text-align: center;
  }
  </style>
</head>
<body id="top">
  <div class="blur-area">
    <ctd-header></ctd-header>
    <ctd-section-intro title="Service">
      ネットイヤークラフトは、お客さまのウェブサイト構築について要件定義・設計・実装・運用までを<br class="hidden-sm hidden-xs">
      ワンストップでサポートする体制を実現いたします。
    </ctd-section-intro>
    <ctd-div-features></ctd-div-features>
    <ctd-div-center-block></ctd-div-center-block>
    <ctd-section-intro title="Solution">
      ネットイヤークラフトは、お客さまのビジネスにおける課題の解決を最優先に考えます。<br class="hidden-sm hidden-xs">
      お客さまのご要望に合わせて様々な解決手段を用意しています。
    </ctd-section-intro>
    <ctd-div-portfolio></ctd-div-portfolio>
    <ctd-div-bn-box></ctd-div-bn-box>
  </div><!-- /.blur-area -->

  <!-- place the custom tag anywhere inside the body -->
  <hello-world></hello-world>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/tags/hello_world.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-nav.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-section-video.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-header.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-section-intro.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-div-features.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-div-center-block.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-div-portfolio.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-div-bn-box.tag"></script>
  <!-- include riot.js -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="../../js/libs/jquery.lettering.js"></script>
  <script src="../../js/libs/jquery.textillate.js"></script>
  <script src="../../js/libs/waypoints.min.js"></script>
  <script src="../../js/libs/jquery.imageScroll.min.js"></script>
  <script src="../../js/libs/jquery.flexslider.js"></script>
  <script src="http://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <!-- mount the tag -->
  <script>
    riot.mount('hello-world, ctd-section-intro, ctd-div-center-block');
    riot.mount('ctd-header', {
      items: [
        { href:"index.html",  title: "ホーム"},
        { href:"company/index.html",  title: "会社概要"},
        { href:"solution/index.html",  title: "ソリューション"},
        { href:"recruit/index.html",  title: "採用情報"},
        { href:"news/index.html",  title: "ニュース"},
        { href:"https://www.netyear.net/craft/forms/inquiry/",  title: "お問い合わせ",  target: "_blank"}
      ],
      init_nav_hide: true
    });
    riot.mount('ctd-div-features', {
      items: [
        {icon: "fa-newspaper-o", title: "要件定義",
          description: "お客さまのビジネスにおける課題やニーズを的確に整理し、解決に至るまでのプロセスと最大限の成果を得られる方法を考え、確実にゴールに導くプランを提案いたします。"},
        {icon: "fa-pencil", delay: "delay-05s",title: "設計",
          description: "専門職であるインフォーメーションアーキテクトが要件定義に基いて情報設計を行い、ウェブサイトを閲覧するユーザーに対して有益で有効な構造設計・画面設計を実現します。"},
        {icon: "fa-desktop", delay: "delay-1s",title: "実装",
          description: "経験豊富で優秀なクリエイター・エンジニアたちが知識と技術を結集して、お客さまのご要望を反映した高品質なウェブサイトを最適な方法によって構築します。"},
        {icon: "fa-cogs", delay: "delay-15s",title: "運用",
          description: "長年に亘る数々の大規模ウェブサイト運用実績を誇る弊社のノウハウにより、どのような業種・業態であっても最適な運用体制を整え、安全・確実にウェブサイトのメンテナンス業務を行います。"}
      ]
    });
    riot.mount('ctd-div-portfolio', {
      items: [
        {icon: "/img/solution_renewal.jpg", title: "ウェブサイトリニューアル",
          description: "お客さまのビジネスにおける課題を、ウェブサイトリニューアルを通じて解決いたします。要件定義・設計・制作・運用までをワンストップで提供いたします。"},
        {icon: "/img/solution_maitenance.jpg", delay: "delay-05s",title: "ウェブサイト運用",
          description: "長年にわたり多くの大規模サイト運用を行ってきた実績を生かし、お客様に応じて最適な運用方法や体制をご提案します。"},
        {icon: "/img/solution_rwd.jpg", delay: "delay-1s",title: "レスポンシブウェブデザイン",
          description: "ワンソースで複数デバイスの画面サイズにコンテンツの表示を最適化させ、マルチデバイス対応を実現します。"},
        {icon: "/img/solution_cms.jpg", title: "CMS構築",
          description: "パーソナライズ化できるCMSの提案や、サイト規模を問わないCMS構築など、お客さまにとって最適なCMSを提供します。"},
        {icon: "/img/solution_onsite.jpg", delay: "delay-05s",title: "オンサイト (常駐)",
          description: "お客さまの社内に弊社担当者を常駐させ、お客さまと二人三脚でウェブサイト運用業務を行うサービスです。"},
        {icon: "/img/solution_system.jpg", delay: "delay-1s",title: "システム開発・保守",
          description: "経験豊富なシステムエンジニアとプログラマがお客さまのご要望を確実に理解し、それを実現するための最適なシステムを設計・開発します。"},
        {icon: "/img/solution_ab.jpg", title: "ウェブサイト最適化",
          description: "アクセスログ解析・効果測定を行い、サイト内行動のボトルネックとなっている箇所を発見し、ウェブサイトを最適化していきます。"},
        {icon: "/img/solution_ux.jpg", delay: "delay-05s",title: "UXデザイン",
          description: "ユーザー中心の情報設計に基づく総合的なユーザー体験によって、ユーザーゴールとともにビジネスゴールの達成を実現します。"},
        {icon: "/img/solution_tairyou.jpg", delay: "delay-1s",title: "大量ページ制作",
          description: "数千ページに及ぶ大規模な制作のご依頼にも、社内のノウハウと自動化ツールの利用によりページ数による品質劣化のない安全かつ確実な対応が可能です。"},
        {icon: "/img/solution_guide.jpg", title: "ガイドライン策定",
          description: "豊富なウェブサイト制作・運用の実績に基づくノウハウを結集し、最適で高品質なガイドラインを策定します。"},
        {icon: "/img/solution_research.jpg", delay: "delay-05s",title: "リサーチ",
          description: "豊富な知識と経験をもとにお客さまの課題やニーズを的確に整理し、競合他社の動向やトレンドを調査したうえで最適な情報を提供いたします。"},
        {icon: "/img/solution_app.jpg", delay: "delay-1s",title: "モバイルアプリ制作",
          description: "スマートフォンアプリを中心に、各デバイスに合わせて最適なアプリケーションを緻密かつ迅速に開発いたします。"}
      ]
    });
  </script>
</body>
</html>
