<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Craft Homepage x Riot.js</title>
  <link href="//fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/libs/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body id="top">
  <div class="blur-area">
  <ctd-header></ctd-header>
  </div><!-- /.blur-area -->

  <!-- place the custom tag anywhere inside the body -->
  <hello-world></hello-world>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/tags/hello_world.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-nav.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-section-video.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-header.tag"></script>
  <!-- include riot.js -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="../../js/libs/jquery.lettering.js"></script>
  <script src="../../js/libs/jquery.textillate.js"></script>
  <script src="http://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <script src="http://coffeescript.org/extras/coffee-script.js"></script>
  <!-- mount the tag -->
  <script>
    riot.mount('hello-world');
    riot.mount('ctd-header');
  </script>
</body>
</html>
