<html>
<head>
  <title>material-tweet-box</title>
  <link href="../../css/libs/riot-mui.min.css" rel="stylesheet" type="text/css">
  <style>
  </style>
</head>
<body>
  <!-- place the custom tag anywhere inside the body -->
  <material-tweet-box></material-tweet-box>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/mui/tags/material-tweet-box.tag"></script>
  <!-- include riot.js -->
  <script src="https://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <script type="text/javascript" src="../../js/libs/riot-mui.js"></script>
  <!-- mount the tag -->
  <script>
    riot.mount('material-tweet-box');
  </script>
</body>
</html>
