<html>
<head>
  <title>ctd-header</title>
  <link href="//fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/libs/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- place the custom tag anywhere inside the body -->
  <ctd-header items={ header_items }></ctd-header>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/ctd/tags/ctd-nav.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-section-video.tag"></script>
  <script type="riot/tag" src="../../js/ctd/tags/ctd-header.tag"></script>
  <!-- include riot.js -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="../../js/libs/jquery.lettering.js"></script>
  <script src="../../js/libs/jquery.textillate.js"></script>
  <script src="http://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <script src="http://coffeescript.org/extras/coffee-script.js"></script>
  <!-- mount the tag -->
  <script>

    riot.mount('ctd-header', {
      header_items: [
        { href:"index.html",  title: "ホーム"},
        { href:"company/index.html",  title: "会社概要"},
        { href:"solution/index.html",  title: "ソリューション"},
        { href:"recruit/index.html",  title: "採用情報"},
        { href:"news/index.html",  title: "ニュース"},
        { href:"news/index.html",  title: "お問い合わせ",  target: "_blank"}
      ],
      init_nav_hide: false
    });
  </script>
</body>
</html>
