<html>
<head>
  <title>ctd-nav</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <!-- place the custom tag anywhere inside the body -->
  <ctd-nav></ctd-nav>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/ctd/tags/ctd-nav.tag"></script>
  <!-- include riot.js -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <script src="http://coffeescript.org/extras/coffee-script.js"></script>
  <!-- mount the tag -->
  <script>
    riot.mount('ctd-nav',{
      items: [
        { href:"index.html",  title: "ホーム"},
        { href:"company/index.html",  title: "会社概要"},
        { href:"solution/index.html",  title: "ソリューション"},
        { href:"recruit/index.html",  title: "採用情報"},
        { href:"news/index.html",  title: "ニュース"},
        { href:"news/index.html",  title: "お問い合わせ",  target: "_blank"}
      ]
    })
  </script>
</body>
</html>
