<html>
<head>
  <title>ctd-section-intro</title>
  <link href="//fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet" type="text/css">
  <!--link href="../../css/libs/bootstrap.min.css" rel="stylesheet" type="text/css"-->
</head>
<body>
  <!-- place the custom tag anywhere inside the body -->
  <ctd-section-intro title="Service">
    ネットイヤークラフトは、お客さまのウェブサイト構築について要件定義・設計・実装・運用までを<br class="hidden-sm hidden-xs">
    ワンストップでサポートする体制を実現いたします。
  </ctd-section-intro>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/ctd/tags/ctd-section-intro.tag"></script>
  <!-- include riot.js -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="../../js/libs/waypoints.min.js"></script>
  <script src="https://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <!-- mount the tag -->
  <script>riot.mount('ctd-section-intro')</script>
</body>
</html>
