<html>
<head>
  <title>sns-count-facebook</title>
</head>
<body>
  <!-- place the custom tag anywhere inside the body -->
  <sns-count></sns-count>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/tags/sns-count-facebook.tag"></script>
  <!-- include riot.js -->
  <script src="https://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <!-- mount the tag -->
  <script>riot.mount('sns-count', {
    items: [
      {title: 'Google', url: 'https://www.google.com'},
      {title: 'Facebook', url: 'https://www.facebook.com'},
      {title: 'Twitter', url: 'https://www.twitter.com'},
      {title: 'Netyear Group Corporation', url: 'http://www.netyear.net'},
      {title: 'Netyear Craft', url: 'https://craft.netyear.net'}
    ]
  })</script>
</body>
</html>
