<html>
<head>
  <title>sns-count-facebook</title>
</head>
<body>
  <!-- place the custom tag anywhere inside the body -->
  <sns-count-facebook url="https://www.google.com"></sns-count-facebook>
  <!-- include the tag -->
  <script type="riot/tag" src="../../js/tags/sns-count-facebook.tag"></script>
  <!-- include riot.js -->
  <script src="https://cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>
  <!-- mount the tag -->
  <script>riot.mount('sns-count-facebook')</script>
</body>
</html>
